* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    font-family:sans-serif;
    overflow-x: hidden;
}
body{
    min-height: 100vh;
}
#container { 
    height:100%
    width:100%;
    background-color: #1e1e1e;
    overflow:auto ;
    position: relative;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:10vh;
    border-bottom:2px solid white; 
    margin-bottom:4rem;
}
#logo { 
    width:3.5rem;
}
#navbar li { 
    display: inline-block;
    padding:1rem;
    font-size: 24px;
    transition: all 0.25s ease-in-out;
    
}
#navbar a {
    color:#fff;
}
#navbar li:hover{
    transform:scale(1.2);
}
#navbar a:hover{
    color:white ;
}
.content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: auto;
    margin-bottom:2vh;
}
.text{
    color:#fff;
    width:30%;
    height:450px;
    margin-left: 0.5rem;
    position:relative;
}
.text h2 {
    font-size:2rem;
    text-transform: uppercase;
}
.text p {
    font-size:1rem ;
    padding: 2rem 0 ;
    padding-left:1.7rem;
    line-height: 1.5rem;
}
.button{
    color:#000000;
    background-color: #fff;
    padding:6px 14px;
    border-radius: 12px;
    position: absolute;
    left:50%;
    transform: translateX(-50%);
}
.img{
    width:400px;
}
.img img{
    width: 100%;
    height:100%;
    object-fit: contain;
  }
.icons{
    width: 100%;
    justify-content: center;
    overflow-y: hidden;
    display: flex;
}

.icons img{
    width:100px;
    transition: all 0.25s ease-in-out;
}
.icons img:hover{
    transform: scale(1.2);
}
@media screen and (max-width:500px) {
    #container{
       height:150vh;
    }
    header{
        justify-content: center;
    }
    #navbar{
      display: none;  
    }
    .text{
        width:80%;
        margin-bottom:0 ;
    }
    .text p {
        padding-left:0;
    }
    .button{
      bottom:5rem;      
    }
  .content{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .img{
   width:200px;
   min-height:10px;
   text-align: center;
  }
 
  .icons {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  }
  .icons .btn{
    width:60px;
  }
}
